@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}

.content {
  max-width: 1000px;
  margin: 0px auto;
  padding: 20px;
}

.poke-preview {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.poke-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.poke-preview h2 {
  font-size: 25px;
  color: #f1356d;
  margin-bottom: 8px;
}

.poke-preview div {
  display: inline-block;
}

.poke-preview div a {
  text-decoration: none;
}

.poke-preview button {
  background: #fff;
  border: none;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  float: right;
}

.poke-preview button:hover {
  background: #fff;
  color: #fff;
  border: 0;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  float: right;
}

.pagination {
  padding: 20px;
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  display: table;
}

.pagination button {
  background: #fff;;
  color: #f1356d;
  padding: 8px;
  margin: 4px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

.poke-details {
  display: flex;
  justify-content: space-between;
  padding: 80px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  box-shadow: 1px 3px 5px 3px rgba(0,0,0,0.1);
}

.poke-details div {
  display: inline-block;
}

.poke-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.poke-details p {
  font-size: 18px;
  color: black;
  margin-bottom: 8px;
}

.poke-favorites div {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}
.poke-favorites h2 {
  font-size: 25px;
  color: #f1356d;
  margin-bottom: 8px;
}

.poke-search {
  display: grid;
  border-bottom: 1px solid #fafafa;
  margin-bottom: 10px;
}

.poke-search input {
  border-radius: 4px;
  border: 2px solid #ccc;
  padding: 15px;
}